$primary-500: #FCA86C;
$primary-50: #FFEBDC;
$primary-700: #C26625;

$gray: rgba(33, 33, 33, 0.08);

:export {
    primary500: $primary-500;
    primary50: $primary-50;
    primary700: $primary-700;
    gray: $gray;
}